{% extends 'layouts/application.html' %}

{% block content %}

{% include "compoment/bg.html" %}
<div class="plane-box">
    {% include "compoment/plane.html" %}
</div>
<div class="welcome">
    <h1>welcome</h1>
    <h4>这是一个有思想的智障！如果，你骂我一下，我不会还口，我会去打黄晶晶同学一下！</h4>
</div>
<div class="fun clearfix">
    <div class="fun-item">
        <section class='loader'>
            <div class='loader-center'>
                <div class='chars'>
                    <span class='char brace'>{</span>
                    <span class='dots'>
                <span class='char dot _dot-1'>.</span>
                <span class='char dot _dot-2'>.</span>
                <span class='char dot _dot-3'>.</span>
                </span>
                    <span class='char brace'>}</span>
                </div>
            </div>
            <h3>哲学</h3>
            <p>小而美、可组合、目的单一</p>
            <p>这种哲学永远不会过时</p>
        </section>
    </div>
    <div class="fun-item">
        <section class='loader'>
            <div class="fun2">
                <div class="segment-holder">
                    <div class="segment one"></div>
                </div>
                <div class="segment-holder">
                    <div class="segment two"></div>
                </div>
                <div class="segment-holder">
                    <div class="segment three"></div>
                </div>
                <div class="segment-holder">
                    <div class="segment four"></div>
                </div>
            </div>
            <h3>洁癖</h3>
            <p>不能容忍一个像素的误差、不能容忍一个色值的偏差</p>
            <p>纯粹，规范，高可读性</p>
        </section>
    </div>
    <div class="fun-item">
        <section class='loader'>
            <div class="fun3">
                <div class="spin"></div>
                <div class="bounce"></div>
            </div>
            <h3>Dream</h3>
            <p>不想当老鸨的厨子不是好的前端</p>
            <p>1+1</p>
        </section>

    </div>
    <div class="fun-item">
        <section class='loader'>
            <div class="func-box">
                <div class="func4">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h3>意外</h3>
            <p>和你遇见、感觉冬天都变暖</p>
            <p>偶尔惋惜、但不必叹息</p>
        </section>
    </div>

</div>

{% endblock %}
{% block javascript %}
<script src="javascripts/app.js"></script>

{% endblock %}