{% extends 'layouts/application.html' %}

{% block content %}
<div class="resume" data-module="resume">

    <div class="resume-info">
        <div id="resume">
            <img src="http://ofdojxj7u.bkt.clouddn.com/user.jpg" alt="陈华荣">
            <h1>陈华荣</h1>
            <p>Web: <a href="http://chenhuarong.top/">chenhuarong.top</a></p>
            <p>Email: 1114282509@qq.com</p>
            <p id="objective">Night gathers, and now my watch begins. It shall not end until my death. I shall take no
                wife, hold no lands, father no children. I shall wear no crowns and win no glory. I shall live and die
                at my post. I am the sword in the darkness. I am the watcher on the walls. I am the fire that burns
                against the cold, the light that brings the dawn, the horn that wakes the sleepers, the shield that
                guards the realms of men. I pledge my life and honor to the Night’s Watch, for this night and all the
                nights to come.
            </p>
            <dl>
                <dt>目前学习：</dt>
                <dd>
                    <h2>meteor</h2>
                    <p>Meteor is an open source platform for web, mobile, and desktop.</p>
                    <h2>docker</h2>
                    <p>Docker is the world’s leading software containerization platform</p>
                    <h2>docker</h2>
                    <p>A javascript library for building user interface</p>
                </dd>
            </dl>
            <dl>
                <dt>教育</dt>
                <dd>
                    <h2>厦门理工学院</h2>
                    <p><strong>学科专业:</strong> 网络工程<br/></p>
                </dd>
            </dl>
            <dl>
                <dt>证书</dt>
                <dd>
                    <h2>操作系统证书</h2>
                    <p>RHCSA（红帽初级认证）：Red Hat Certified System Administrator</p>
                    <h2>软件中级证书</h2>
                    <p>数据库系统工程师</p>
            </dl>
            <dl>
                <dt>WEB</dt>
                <dd>
                    <h2>基础 <span>切片，静态布局</span></h2>
                    <ul>
                        <li>基础CSS、css3、原生js、jQuery</li>
                        <li>第三方UI框架：Bootstrap、AmazeUI、Foundation、Semantic-UI</li>
                    </ul>
                    <h2>流行 <span>最新潮流技术</span></h2>
                    <ul>
                        <li>angular.js</li>
                        <li>react.js</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>自动化工具流</dt>
                <dd>
                    <h2>gulp <span>静态文件自动化</span></h2>
                    <ul>
                        <li>Sass (Libsass via node-sass), Autoprefixer, CSSNano, Source Maps 样式编译</li>
                        <li>Babel, Webpack，ES6的编译</li>
                        <li>Nunjucks Template的html模板引擎</li>
                        <li>imagemin的突变压缩</li>
                        <li>热替换</li>
                        <li>Karma, Mocha, Chai单元测试：TDD</li>
                    </ul>
                    <h2>webpack<span>react的手脚架</span></h2>
                    <ul>
                        <li>react</li>
                        <li>redux</li>
                        <li>react-router</li>
                        <li>react-router-redux</li>
                        <li>webpack</li>
                        <li>babel</li>
                        <li>express</li>
                        <li>karma</li>
                        <li>eslint</li>
                    </ul>

                </dd>
            </dl>
            <dl>
                <dt>后台语言</dt>
                <dd>
                    <h2>node.js <span>全栈工程师</span></h2>
                    <ul>
                        <li>express</li>
                        <li>koa</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>数据库</dt>
                <dd>
                    <h2>mongoDB <span>非关系型</span></h2>
                    <ul>
                        <li>mongoose</li>
                    </ul>
                    <h2>Mysql <span>关系型</span></h2>
                </dd>
            </dl>
            <dl>
                <dt>移动开发</dt>
                <dd>
                    <h2>Apicloud <span>国内html5封装</span></h2>
                    <h2>Ionic <span>基于angular的cordova封装</span></h2>
                </dd>
            </dl>
            <dl>
                <dt>开发环境</dt>
                <dd>
                    <h2>操作系统 </h2>
                    <ul>
                        <li>Ubuntu （主要开发环境）</li>
                        <li>window 7</li>
                    </ul>
                    <h2>多人合作 </h2>
                    <ul>
                        <li>Git</li>
                        <li>SVN</li>
                    </ul>
                </dd>
            </dl>

            <dl>
                <dt>建站</dt>
                <dd>有独自搭建服务器的能力</dd>
            </dl>
        </div>
    </div>


    <svg id="resume-header" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 510" version="1.1">
        <title>Squares</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect id="gray-box" width="50" height="50" fill="#BBBBCC"></rect>
            <path id="gray-path" d="M495,510 L495, -700" fill="none"></path>
            <animateMotion
                    xlink:href="#gray-box"
                    dur="10s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#gray-path"/>
            </animateMotion>
            <animateTransform
                    xlink:href="#gray-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 25 25"
                    to="360 25 25"
                    dur="5s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>
            <rect id="brown-box" width="50" height="50" fill="#AA7755"></rect>
            <path d="M540,530 L540, -800" id="brown-path" fill="none"></path>
            <animateMotion
                    xlink:href="#brown-box"
                    dur="30s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#brown-path"/>
            </animateMotion>
            <animateTransform
                    xlink:href="#brown-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 25 25"
                    to="360 25 25"
                    dur="15s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>

            <rect id="purple-box" width="75" height="75" fill="#8B60B9"></rect>
            <path id="purple-path" d="M595,650 L595, -800" fill="none"></path>
            <animateMotion
                    xlink:href="#purple-box"
                    dur="20s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#purple-path"/>
            </animateMotion>

            <animateTransform
                    xlink:href="#purple-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 37.5 37.5"
                    to="360 37.5 37.5"
                    dur="10s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>
            <rect id="cyan-box" width="60" height="60" fill="#66EEDD"></rect>
            <path id="cyan-path" d="M705,800 L705, -800" fill="none"></path>

            <animateMotion
                    xlink:href="#cyan-box"
                    dur="20s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#cyan-path"/>
            </animateMotion>

            <animateTransform
                    xlink:href="#cyan-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 30 30"
                    to="360 30 30"
                    dur="15s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>

            <rect id="tomato-box" width="35" height="35" fill="#FF8877"></rect>
            <path id="tomato-path" d="M685,1000 L685, -800" fill="none"></path>

            <animateMotion
                    xlink:href="#tomato-box"
                    dur="30s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#tomato-path"/>
            </animateMotion>

            <animateTransform
                    xlink:href="#tomato-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 17.5 17.5"
                    to="360 17.5 17.5"
                    dur="8s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>


            <!-- Yellow Box -->
            <rect id="yellow-box" width="30" height="30" fill="#FFEE33"></rect>
            <path id="yellow-path" d="M755,1500 L100, -900" fill="none"></path>

            <animateMotion
                    xlink:href="#yellow-box"
                    dur="15s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#yellow-path"/>
            </animateMotion>

            <animateTransform
                    xlink:href="#yellow-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 15 15"
                    to="360 15 15"
                    dur="8s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>
            <rect id="blue-box" width="50" height="50" fill="#6666FF"></rect>
            <path d="M785,1200 L785, -800" id="blue-path" fill="none"></path>

            <animateMotion
                    xlink:href="#blue-box"
                    dur="10s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#blue-path"/>
            </animateMotion>
            <animateTransform
                    xlink:href="#blue-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 25 25"
                    to="360 25 25"
                    dur="12s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>

            <rect id="green-box" width="40" height="40" fill="#66CC99"></rect>
            <path id="green-path" d="M810,1411 L810, -800" fill="none"></path>

            <animateMotion
                    xlink:href="#green-box"
                    dur="20s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#green-path"/>
            </animateMotion>

            <animateTransform
                    xlink:href="#green-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 20 20"
                    to="360 20 20"
                    dur="12s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>


            <!-- Pink Box -->
            <rect id="pink-box" width="100" height="100" fill="#FF88CC"></rect>
            <path id="pink-path" d="M1000,1300 L1000, -800" fill="none"></path>

            <animateMotion
                    xlink:href="#pink-box"
                    dur="25s"
                    begin="0s"
                    fill="freeze"
                    repeatCount="indefinite">
                <mpath xlink:href="#pink-path"/>
            </animateMotion>

            <animateTransform
                    xlink:href="#pink-box"
                    attributeName="transform"
                    attributeType="XML"
                    type="rotate"
                    from="0 50 50"
                    to="360 50 50"
                    dur="10s"
                    repeatCount="indefinite"
                    fill="freeze"
            ></animateTransform>

        </g>
    </svg>
</div>
{% endblock %}
