{% extends 'layouts/application.html' %}

{% block content %}
<div class="works clearfix" data-module="works">
    <h1>线上项目</h1>
    <figure class="snip1376">
        <a href="http://www.canthink.com.cn/">
            <img src="images/work1.jpg"/>
        </a>
        <figcaption>
            <h2>官网类</h2>
            <p>康众畅想</p>
            <div class="icons">
            </div>
        </figcaption>
    </figure>
    <figure class="snip1376 ">
        <a href="http://qijiyoupin.cn/">
            <img src="images/work2.jpg"/>
        </a>
        <figcaption>
            <h2>电商类</h2>
            <p>奇迹优品网</p>
            <div class="icons">
            </div>
        </figcaption>
    </figure>
    <figure class="snip1376">
        <a href="http://m.qijiyoupin.cn/">
            <img src="images/work3.jpg"/>
        </a>
        <figcaption>
            <h2>移动端类</h2>
            <p>奇迹优品网</p>
            <div class="icons">
            </div>
        </figcaption>
    </figure>


</div>

{% endblock %}
