<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="陈华荣,个人简历,个人网站">
    <meta name="keywords" content="陈华荣,个人简历,简历,个人网站,那么帅">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}
</head>

<body>

    {# 手机导航#}
    {% include "layouts/mobilemenu.html" %}

    {# PC导航#}
    {% include "layouts/menu.html" %}

    {% block content %}{% endblock %}

    <div class="footer">
        闽ICP备16028739号-1
    </div>
    {% block javascript %}
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.slim.min.js"></script>
    <script src="javascripts/app.js"></script>
    {% endblock %}

</body>

</html>